* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  min-height: 80;
  background-color: #1f2937;
  padding: 16px;
}
header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.hero-wrapper {
  width: 80%;
  margin: 9rem auto;
  display: flex;
}
.hero-wrapper div {
  flex: 1;
}
.hero-desc h1 {
  max-width: 70%;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero-desc p {
  max-width: 70%;
  font-size: 18px;
  color: #e5e7eb;
  margin: 1rem 0;
}
.hero-desc button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 2rem;
    border: none;
    border-radius: 8px;
}
.info {
    min-height: 55vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 2rem 0;
}

.cards{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.card-holder{
    flex: 1;
}
.card-holder p {
    width: 160px;
    text-align: center;
    margin-top: 8px;
}

.card{
    width: 160px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.quote {
    background-color: #E5E7EB;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    color: #1F2937;
}
.quote h4 {
    align-self: flex-end;
    font-size: 24px;
    color: #1F2937;
}